$panel-grey: #5b5863;
$scale: scale(1.5);
$transition: all 200ms ease-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom right, #cffaae, #0a99b0, #0a0030) fixed;
  display: grid;
  place-content: center;
  place-items: center;
}

#frame {
  display: grid;
  align-content: center;
  background: #fff;
  border-bottom: 10px solid $panel-grey;
  border-radius: 20px;
  padding: 1em;
  margin: 2em 2em 0 2em;
  min-width: 600px;
  position: relative;
}

#picture {
  border-radius: 10px;
  max-height: 600px;
  width: 100%;
  object-fit: cover;
}

.arrow {
  position: absolute;
  width: 32px;
  top: 40%;
  transition: $transition;
  cursor: pointer;
  &:hover {
    transform: $scale;
  }
}

#prev {
  left: 32px;
}

#next {
  right: 32px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $panel-grey;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  padding: 0 1em 0.5em 1em;
}

.dot {
  background: $panel-grey;
  border: 2px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  height: 20px;
  width: 20px;
  transition: $transition;
  &:hover {
    transform: $scale;
  }
}

.active-nav {
  background: #fff;
}

.spacer {
  background: #fff;
  height: 2px;
  width: 8px;
}
